footer.flex.flex-wrap.py-12.px-8.flex-col(class="lg:flex-row")
    div.flex.flex-wrap.flex-col.items-center.text-center(class="w-full lg:w-2/3 lg:mx-auto lg:flex-row lg:items-start lg:text-left")
        div(class="w-full lg:w-1/4 mb-4 lg:mb-0")
            h2.font-extrabold.uppercase.text-white.text-sm Company
            ul.list-reset
                li.my-3.text-sm.opacity-75
                    a.text-white(href="/about-us") About Us                
                li.my-3.text-white.text-sm.opacity-75  Career                
                li.my-3.text-white.text-sm.opacity-75  Our Community                
        div(class="w-full lg:w-1/4 mb-4 lg:mb-0")
            h2.font-extrabold.uppercase.text-white.text-sm Social
            ul.list-reset.flex
                li.my-3.mr-3.social-icon
                    a(href="").text-white.text-sm.opacity-75  #[i.fa.fa-twitter.text-white]
                li.my-3.mr-3.social-icon
                    a(href="").text-white.text-sm.opacity-75  #[i.fa.fa-facebook.text-white]
                li.my-3.mr-3.social-icon
                    a(href="").text-white.text-sm.opacity-75  #[i.fa.fa-instagram.text-white]
